<Include path="Xml/Styles.xml"/>
<Defaults>
  <Text class="h2" alignment="MiddleCenter" fontSize="26" color="rgb(0.9,0.8,0,1)"/>
  <Text class="title" alignment="MiddleCenter" fontSize="40" color="rgb(1,0.75,0,1)"/>
</Defaults>
  <TableLayout id="Menu" showAnimation="Grow" hideAnimation="Shrink" active="false" rowBackgroundColor="rgb(0.172,0.384,0.654,0" class="noCellBackground" image="http://cloud-3.steamusercontent.com/ugc/5093039833099400330/3D29D5A1FAD2AA1034F01462889B0AF1E5DB137E/" height="700" width="700"  offsetXY="0 0">
    <Row  color="rgb(0.75,0,0,0.2)" preferredHeight="45">
      <Cell/>
      <Cell><Text class="title">Official</Text></Cell>
    </Row>
    <Row  preferredHeight="210">
      <TableLayout class="noCellBackground" >
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Corporate Era</Text></Cell>
          <Cell><Toggle onValueChanged="option1"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Hellas Elysium</Text></Cell>
          <Cell><Toggle onValueChanged="option2"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Venus Next</Text></Cell>
          <Cell><Toggle onValueChanged="option3"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Colonies</Text></Cell>
          <Cell><Toggle onValueChanged="option4"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Prelude</Text></Cell>
          <Cell><Toggle onValueChanged="option5"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Turmoil</Text></Cell>
          <Cell><Toggle onValueChanged="option6"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Promo</Text></Cell>
          <Cell><Toggle onValueChanged="option7"></Toggle></Cell>
        </Row>
      </TableLayout>
    </Row>
    <Row color="rgb(0.75,0,0,0.2)" preferredHeight="45">
      <Cell/>
      <Cell><Text class="title">Fan Made</Text></Cell>
    </Row>
    <Row preferredHeight="360">
      <TableLayout class="noCellBackground" >
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Corps</Text></Cell>
          <Cell><Toggle onValueChanged="option8"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Project Cards</Text></Cell>
          <Cell><Toggle onValueChanged="option9"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Maps</Text></Cell>
          <Cell><Toggle onValueChanged="option10"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">High Orbit</Text></Cell>
          <Cell><Toggle onValueChanged="option11"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Ares</Text></Cell>
          <Cell><Toggle onValueChanged="option12"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">PathFinders</Text></Cell>
          <Cell><Toggle onValueChanged="option13"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Nuclear</Text></Cell>
          <Cell><Toggle onValueChanged="option14"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Moon</Text></Cell>
          <Cell><Toggle onValueChanged="option15"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Venus 2.0</Text></Cell>
          <Cell><Toggle onValueChanged="option16"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Early Bases</Text></Cell>
          <Cell><Toggle onValueChanged="option17"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Industries</Text></Cell>
          <Cell><Toggle onValueChanged="option18"></Toggle></Cell>
        </Row>
        <Row>
          <Cell/>
          <Cell/>
          <Cell><Text class="h2">Preludes</Text></Cell>
          <Cell><Toggle onValueChanged="option19"></Toggle></Cell>
        </Row>
      </TableLayout>
    </Row>
    <Row>
      <Cell/>
      <Cell>
      <Button fontSize="25" icon="Sprites/Icons/Arrow_Right" color="rgb(0.8,0.8,0,0)" iconColor="rgb(1,0.75,0,1)"  onClick="start">START</Button>
      </Cell>
    </Row>
  </TableLayout>